@model cafeteria_joy.Models.Lineafactura

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Linea factura</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UnidadesVendidas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UnidadesVendidas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Articulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Articulo.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FacturacionArticulos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FacturacionArticulos.NoFactura)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LineaFacturaId">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
