@model IEnumerable<cafeteria_joy.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6 d-flex align-items-center">
            <i class="bi bi-person-vcard h2" style="color: #1558a0;"></i>
            <h2 class="ms-3">Empleados</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-outline-primary" asp-action="Create">
                <i class="bi bi-plus-circle h5"></i>
                &nbsp;
                New
            </a>
        </div>
    </div>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th class="align-middle text-center">
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th class="align-middle text-center">
                    Cédula
                </th>
                <th class="align-middle text-center">
                    Tanda labor
                </th>
                <th class="align-middle text-center">
                    Procentaje comisión
                </th>
                <th class="align-middle text-center">
                    Fecha de ingreso
                </th>
                <th class="align-middle text-center">
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="height: 60px">
                    <td style="width: 30%;" class="align-middle">
                        <a asp-action="Edit" asp-route-id="@item.EmpleadosId">
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </a>
                    </td>
                    <td class="align-middle text-center">
                        @Html.DisplayFor(modelItem => item.Cedula)
                    </td>
                    <td class="align-middle text-center">
                        @Html.DisplayFor(modelItem => item.TandaLabor)
                    </td>
                    <td class="align-middle text-center">
                        @Html.DisplayFor(modelItem => item.PorcientoComision)%
                    </td>
                    <td class="align-middle text-center">
                        @Html.DisplayFor(modelItem => item.FechaIngreso)
                    </td>
                    <td class="align-middle text-center">
                        @if (item.Estado)
                        {
                            <i class="bi bi-check-square-fill text-success h3"></i>
                        }
                        else
                        {
                            <i class="bi bi-x-square-fill text-danger h3"></i>
                        }
                    </td>
                    <td class="align-middle text-end">
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.EmpleadosId">
                            <i class="bi bi-trash3 h5"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>